body{
	align-items: center;
	display: flex;
	justify-content: center;
}
.calculator{
	height: 1000px;
	width:600px;
}

.calculator_display{
	background-color: black;
	height: 100px;
	text-align: right;
	color: white;
	font-size: 90px;
}

.calculator_buttons{
	display: grid;
	grid-auto-rows: 100px;
	grid-template-columns: repeat(4, 1fr);
}

.btn, .btn_operator{
	font-size: 75px;
	text-align: center;
}

.btn_equal{
	grid-column-start: 4;
	grid-row-start: 2;
	grid-row-end: 6;
	font-size: 75px;
}

.btn:hover, .btn_equal:hover, .btn_operator:hover{
	background-color: rgb(238, 147, 275);
}


